<!DOCTYPE HTML>

<html>
<head>
    <title>SmartJeff food recommendations</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">
	<link rel="icon" href="../static/images/logo.jpg">
    <title>
        SmartJeff
    </title>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->

    <!-- Sidebar -->
    <section id="sidebar">

        <!-- Intro -->
        <section id="intro">
            <a href="./index.html"><img src="../static/images/logo.jpg" alt="logo.jpg" height="200" width="200" class="logo"/></a>
            <header>
                <h2>SmartJeff</h2>
                <p>Mood Detection... more like Food Detection </p>
            </header>
        </section>

    </section>

    <div id="main">

        <!-- Post -->
        <article class="post">
            <header>
			<!-- Pagination -->
                <div class="title">
					
                    <h2>Mood Detection</h2>
                    <p>Mood detected: Disgust</p>
                </div>

            </header>
			
			<section class="post">
				<h2>FOOD RECOMMENDATION:</h2>
				<p>Soup</p>

			</section>
			
			<h2>Food options near you</h2>
            <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=soup%20near%20me&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
			
        </article>
    </div>



</div>

<script type="text/javascript" src=" {{ url_for('static', filename='util.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static', filename='breakpoints.min.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static', filename='browser.min.js') }}"></script>


</body>
</html>