<!DOCTYPE HTML>

<html>
<head>
    <title>SmartJeff food recommendations</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">
	<link rel="icon" href="../static/images/logo.jpg">
    <title>
        SmartJeff
    </title>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->

    <!-- Sidebar -->
    <section id="sidebar">

        <!-- Intro -->
        <section id="intro">
            <a href="./index.html"><img src="../static/images/logo.jpg" alt="logo.jpg" height="200" width="200" class="logo"/></a>
            <header>
                <h2>SmartJeff</h2>
                <p>Mood Detection... more like Food Detection </p>
            </header>
        </section>

    </section>

    <div id="main">

        <!-- Post -->
        <article class="post">
            <header>
			<!-- Pagination -->
                <div class="title">
					
					<ul class="actions pagination">
						<form action="<!-- fill in where the image should be sent to -->">
							<input type="file" name="fileupload" value="fileupload" id="fileupload">
							<label for="fileupload"> Select a file to upload</label>
							<input type="submit" value="submit">
						</form>
					</ul>
					
                    <h2>Mood Detection</h2>
                    <p>ENTER MOOD DETECTION</p>
                </div>

            </header>
        </article>
    </div>



</div>

<script type="text/javascript" src=" {{ url_for('static', filename='util.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static', filename='breakpoints.min.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static', filename='browser.min.js') }}"></script>


</body>
</html>